@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

.fredokaFont {
  font-family: "Fredoka", sans-serif;
}

html {
  background: linear-gradient(to bottom, #22121d 0%, #0a080b 100%);
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
.sectionGradient {
  background-image: linear-gradient(to bottom right, #22121d, #0a080b);
}
.buttonGradient {
  background: linear-gradient(to left, #f070d0, #5c34df);
}

.buttonBorderGradient {
  position: relative;
  background-image: linear-gradient(to left, #f070d0, #5c34df);
  border-radius: 20px;
  padding: 2px;
}

.buttonBorderGradient::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: black;
  border-radius: 18px;
  z-index: 0;
}

.buttonBorderGradient span {
  position: relative;
  z-index: 1;
}


/* Custom Scrollbar */
.scrollbar-custom {
  scrollbar-width: thin !important; /* Firefox */
  scrollbar-color: #0E132E #f1f1f1 !important; /* Firefox */
}

/* For Chrome, Safari, and Edge */
.scrollbar-custom::-webkit-scrollbar {
  width: 12px !important;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #0E132E !important;
  border-radius: 6px !important;
  border: 3px solid #f1f1f1 !important;
}
